.loginers {
  padding: 40px 20px;
  .obv-email {
    margin: 20px 0px;
  .email {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    background: rgba(0,0,0,0.1);
    border-radius: 20px;
    input {
      background: unset;
      border: none;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
  .errs {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 10px 0px;
    padding: 5px 20px;
    background: rgba(0,0,0,0.1);
    border-radius: 20px;
    font-size: 10px;
    span {
      font-size: 15px;
    }
  }
  }
  .obv-pw {
    margin: 20px 0px;
  .password {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    background: rgba(0,0,0,0.1);
    border-radius: 20px;
    input {
      background: unset;
      border: none;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    #vis {
      color: rgba(0,0,0,0.2);
    }
  }
  .errs {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 10px 0px;
    padding: 5px 20px;
    background: rgba(0,0,0,0.1);
    border-radius: 20px;
    font-size: 10px;
    span {
      font-size: 15px;
    }
  }
  }
  
  button {
    padding: 10px 50px;
    border-radius: 20px;
    background: unset;
    border: 1.5px solid #000;
    transition: .2s ease-in-out;
    &:hover {
      background: #000;
      color: #fff;
    }
  }
 
}