.cek-postingan-container {
    padding: 30px 20px;

    .rendered-cek-postingan {
        user-select: none;
        h1 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
            color: rgba(0, 0, 0, 0.7);
        }

        h4 {
            margin-bottom: 20px;
            color: rgba(0, 0, 0, 0.8);
        }

        .single-img {
            object-fit: cover;
            width: 100%;
            height: 20vh;
            border-radius: 20px;
            filter: brightness(70%);
            margin-bottom: 20px;
        }
    }
}

.marginable {
    margin: 0px 20px 30px 20px;
    .likesys {
        display: flex;
        gap: 10px;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 10px;
        .likeds {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
            background: rgba(0, 0, 0, 0.1);
            color: rgba(0, 0, 0, 0.8);
            padding: 10px 20px;
            border-radius: 10px;
            p {
                font-size: 0.8em;
            }
            button {
                border: none;
                background: unset;
                display: flex;
                align-items: center;
                span {
                    color: rgba(0, 0, 0, 0.8);
                    font-size: 1.5em;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .cek-postingan-container {
        padding: 20px 20vw;
        .rendered-cek-postingan {
            .single-img {
                object-fit: cover;
                width: 100%;
                height: 50vh;
                border-radius: 20px;
                filter: brightness(70%);
                margin-bottom: 20px;
            }
        }
    }
    .marginable {
        padding: 20px 20vw;
    }
}
