.container-postingan {
    padding: 20px;

    #juduls {
        margin-bottom: 20px;
    }

    .loadingDots {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pokokload {
        position: absolute;
    }

    .dot {
        width: 10px;
        height: 10px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        margin: 0 5px;
        animation: blink 1.3s infinite;
    }

    .dot:nth-child(1) {
        animation-delay: 0.3s; /* Menunda animasi titik kedua sebanyak 0.6 detik */
    }

    .dot:nth-child(2) {
        animation-delay: 0.6s; /* Menunda animasi titik kedua sebanyak 0.6 detik */
    }

    .dot:nth-child(3) {
        animation-delay: 1.2s; /* Menunda animasi titik ketiga sebanyak 1.2 detik */
    }

    #uprog {
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.1);
        padding: 10px;
        font-size: 0.5em;
        width: fit-content;
        border-radius: 50%;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.7);
    }

    .upload-gambar {
        background: rgba(0, 0, 0, 0.1);
        height: 20vh;
        overflow: hidden;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px;
        #file-input-label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            transition: 0.5s ease-in-out;
            &:hover {
                color: rgba(0, 0, 0, 0.1);
            }
        }
        #file-input {
            display: none;
        }

        img {
            width: 100%;
        }

        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                font-size: 2em;
            }
            p {
                margin: 5px 0px;
                text-transform: capitalize;
                color: rgba(0, 0, 0, 0.5);
                font-size: 0.7em;
            }
        }
    }

    .judul-postingan {
        display: flex;
        margin: 10px 0px;
        input {
            padding: 10px 20px;
            border-radius: 20px;
            width: 100%;
            background: rgba(0, 0, 0, 0.1);
            border: none;

            &:focus {
                outline: none;
            }
        }
    }

    .desksing-postingan {
        display: flex;
        margin: 10px 0px;
        input {
            padding: 10px 20px;
            border-radius: 20px;
            width: 100%;
            background: rgba(0, 0, 0, 0.1);
            border: none;

            &:focus {
                outline: none;
            }
        }
    }

    .desknuh-postingan {
        display: flex;
        margin: 10px 0px;
        textarea {
            padding: 10px 20px;
            border-radius: 20px;
            width: 100%;
            background: rgba(0, 0, 0, 0.1);
            border: none;
            resize: none;
            height: 10vh;

            &:focus {
                outline: none;
            }
        }
    }

    #tombols {
        border: 1.5px solid #000;
        background: unset;
        border-radius: 20px;
        font-weight: 500;
        transition: 0.5s ease-in-out;
        padding: 8px 30px;
        margin-top: 20px;

        &:hover {
            color: #fff;
            background: #000;
        }
    }

    .isi-postingan {
        .createTitle {
            border: none;
            background: unset;
            height: 7vh;
            width: 100%;
            color: #000;
            font-weight: 700;
            font-size: 2rem;
            resize: none;
            &::placeholder {
                color: rgba(0, 0, 0, 0.2);
                font-weight: 700;
                font-size: 2rem;
            }
            &:focus {
                outline: none;
            }
        }

        .createImage {
            width: 100%;
            height: 10vh;
            object-fit: cover;
        }
    }
}

.progressBar {
    margin: 0px 20px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}

.progressFill {
    height: 100%;
    width: 0%;
    border-radius: 5px;
    background-color: #000; /* Warna progress bar saat tahapan mencapai 100% */
    transition: 1s ease-in-out;
    &.step-1 {
        width: 30%;
    }
    &.step-2 {
        width: 60%;
    }
    &.step-3 {
        width: 100%;
    }
}

.next-prev {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 20vh;
    button {
        background: unset;
        border: 1.5px solid #000;
        padding: 5px 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        transition: 0.2s ease-in-out;
        &:hover {
            background: #000;
            color: #fff;
        }
    }
}

@keyframes blink {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@media screen and (min-width: 1024px) {
    .container-postingan {
        padding: 20px 20vw;
    }
    .next-prev {
        padding: 20px 20vw;
    }
    .progressBar {
        margin: 20px 20vw;
    }
}
