* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container-gear {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  justify-content: center;
}


  .warnab {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5vh;
  }
  .group-gear {
    
    .sp1 {
      transform: translateX(50px);
    .gear1 {
      width: 100px;
      height: 100px;
      animation: 2s muterM linear infinite;
    }
    }
    .sp2 {
      transform: translateX(0px);
    .gear2 {
      width: 200px;
      height: 200px;
      animation: 10s muterM linear infinite;
    }
    }
    .sp3 {
      transform: translateX(-50px) translateY(-30px);
    .gear3 {
      width: 120px;
      height: 120px;
      animation: 5s muterM linear reverse infinite;
    }
    }
  }
}

@keyframes muterM {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tes {
  white-space: pre-wrap;
}