$tagp: rgba(0, 0, 0, 0.7);

.container-home {
    padding: 10px 20px;

    .container-home-hero {
        margin: 50px 0px;
        /*height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;*/
        #pretitle {
            color: $tagp;
            margin: 20px 0px;
            margin-top: 0;
            text-transform: capitalize;
        }

        #title {
            font-size: 2em;
            text-transform: capitalize;
            font-weight: 600;
        }

        #subtitle {
            color: $tagp;
            margin: 20px 0px;
        }

        .container-home-hero-button {
            display: flex;
            justify-content: space-between;
            button {
                padding: 10px 30px;
                background-color: rgba(0, 0, 0, 0.1);
                border: none;
                color: rgba(0, 0, 0, 0.8);
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }

    .container-home-content {
        margin: 40px 0px;
        margin-top: 80px;
        .daftar-button {
            padding: 10px 30px;
            border: 1.5px solid #000;
            border-radius: 10px;
            background: unset;
            font-weight: 500;
            width: 100%;
            color: #000;
            margin-bottom: 30px;
            transition: 0.2s ease-in-out;
            &.darkm {
                padding: 10px 30px;
                border: 1.5px solid #fff;
                border-radius: 10px;
                background: unset;
                font-weight: 500;
                width: 100%;
                color: #fff;
                margin-bottom: 30px;
                transition: 0.2s ease-in-out;
                &:hover {
                    color: #000;
                    background: #fff;
                }
            }
            &:hover {
                color: #fff;
                background: #000;
            }
        }
        .intro-content {
            margin-bottom: 50px;
            .intro-text {
                margin: 30px 0px;
            }
        }

        .container-home-content-chd {
            position: relative;
            overflow: hidden;
            border-radius: 1em;
            height: 23vh;
            margin: 20px 0px;
            cursor: pointer;

            .wrapper-content-bg {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    object-position: center;
                    width: 100%;
                }
            }

            .wrapper-content-text {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.4);
                color: #fff;
                padding: 20px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;

                .wct-in-l {
                    button {
                        border: 1.5px solid #fff;
                        background: unset;
                        color: #fff;
                        padding: 5px 10px;
                        border-radius: 1em;
                    }
                }
            }
        }
    }

    .container-home-credit {
        border-top: 1.5px solid #000;
        padding-top: 20px;
        /*background: rgba(0,0,0,0.1);
    padding: 30px;
    border-radius: 20px;*/
        .propow-up {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            .developer {
                margin-bottom: 10px;
                .ig {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    gap: 5px;
                    i {
                        font-size: 25px;
                    }
                    a {
                        font-size: 13px;
                        text-decoration: none;
                        color: #000;
                    }
                }
                .git {
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    gap: 5px;
                    i {
                        font-size: 25px;
                    }
                    a {
                        font-size: 13px;
                        text-decoration: none;
                        color: #000;
                    }
                }
            }

            .copyright {
                h2 {
                    margin-bottom: 10px;
                }
                .mas {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    i {
                        font-size: 25px;
                    }
                    a {
                        font-size: 13px;
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }

        .propow-down {
            margin: 10px 0px;
            .masx {
                margin-top: 5px;
                display: flex;
                align-items: center;
                gap: 5px;
                i {
                    font-size: 25px;
                }
                a {
                    font-size: 13px;
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: brightness(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-container {
        background: #fff;
        border-radius: 20px;
        padding: 20px;
    }
}

@keyframes listmore {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 1024px) {
    .container-home {
        padding: 10px 20vw;
    }

    .container-home-hero {
        #title {
            width: 70%;
        }

        .container-home-hero-button {
            button {
                width: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                height: 7vh;
                transition: 0.3s ease-in-out;
                cursor: pointer;
                &:hover {
                    background-color: #000;
                    color: #fff;
                    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    .home-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .container-home-content-chd {
            display: flex;
            align-items: center;
            width: 28vw;
            img {
                object-position: center;
            }
        }
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}
