nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
    .navbar-left {
        display: flex;
        align-items: center;
        gap: 10px;
        .logo {
            display: flex;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
            }
        }

        .pathnow {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            padding: 5px 10px;
            display: none;
            align-items: center;
            .linkto {
                text-decoration: none;
                color: #000;
            }
            span {
                font-size: 0.8em;
                display: flex;
                align-items: center;
                .hehe {
                    font-size: 1em;
                }
            }
        }
    }

    .navbar-middle {
    }

    .navbar-right {
        display: flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
        ul {
            display: none;
        }

        .search-bar {
            display: none;
        }

        span {
            font-size: 2em;
            /*outline: 1.5px solid #000;*/
            border-radius: 10px;
            padding: 5px;
        }
    }
}

.navbar-content {
    height: 100vh;
    padding: 5px 20px;
    .navbar-ch-wrapper {
        .profiles {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            gap: 10px;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
            .text-pf {
                display: flex;
                justify-content: center;
                flex-direction: column;
                i {
                    font-size: 0.7rem;
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 20px;
                    padding: 1px 10px;
                    margin-top: 5px;
                    text-align: center;
                }
            }
        }

        ul {
            list-style: none;
            .jaf {
                padding: 0px 10px;
                li {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    p {
                        font-size: 10px;
                    }
                }
            }

            li {
                margin: 10px 0px;
                display: flex;
                padding: 10px;
                justify-content: space-between;
                border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
                a {
                    text-decoration: none;
                    color: #000;
                    font-weight: 500;
                    width: 100%;
                }
                #next {
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 20px;
                    width: fit-content;
                    padding: 5px 10px;
                    font-size: 8px;
                }
            }
        }

        .modemodean {
            margin-left: 10px;
            margin-top: 20px;
            font-size: 1.8em;
            display: flex;
            align-items: center;
            gap: 10px;
            p {
                font-size: 0.5em;
                font-weight: 500;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    nav {
        padding: 20px 20vw;
        .navbar-right {
            .burger {
                display: none;
            }
            ul {
                display: flex;
                align-items: center;
                gap: 5px;
                list-style: none;
                li {
                    .kls {
                        padding: 10px 20px;
                        text-transform: capitalize;
                        transition: 0.3s ease-in-out;
                        border-radius: 20px;
                        font-size: 14px;
                        text-decoration: none;
                        color: #000;
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);
                        }

                        #kirs {
                            color: #fff;
                            background-color: rgba(0, 0, 0, 1);
                            &:hover {
                                background-color: rgba(0, 0, 0, 0.1);
                                color: #000;
                            }
                        }
                    }
                }
            }
            .search-bar {
                display: none;
                align-items: center;
                background: rgba(0, 0, 0, 0.1);
                padding: 3px 10px;
                margin: 0px 10px;
                border-radius: 50px;
                .search {
                    font-size: 20px;
                }
                input {
                    background: unset;
                    &:focus {
                        outline: none;
                    }
                    border: none;
                }
            }
        }
    }
}

/* For Tablet View */
@media screen and (min-device-width: 480px) and (max-device-width: 1024px) {
    nav {
        .navbar-right {
            ul {
                display: none;
            }
            .search-bar {
                display: none;
            }
        }
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    nav {
        .navbar-right {
            ul {
                display: none;
            }
            .search-bar {
                display: none;
            }
        }
    }
}
