nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
    .navbar-left {
        display: flex;
        align-items: center;
        gap: 10px;
        .logo {
            display: flex;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
            }
        }

        .pathnow {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            padding: 5px 10px;
            display: none;
            align-items: center;
            .linkto {
                text-decoration: none;
                color: #000;
            }
            span {
                font-size: 0.8em;
                display: flex;
                align-items: center;
                .hehe {
                    font-size: 1em;
                }
            }
        }
    }

    .navbar-middle {
    }

    .navbar-right {
        display: flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
        span {
            font-size: 2em;
            /*outline: 1.5px solid #000;*/
            border-radius: 10px;
            padding: 5px;
        }
    }
}

.navbar-content {
    height: 100vh;
    padding: 5px 20px;
    .navbar-ch-wrapper {
        .profiles {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            gap: 10px;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
            .text-pf {
                display: flex;
                justify-content: center;
                flex-direction: column;
                i {
                    font-size: 0.7rem;
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 20px;
                    padding: 1px 10px;
                    margin-top: 5px;
                    text-align: center;
                }
            }
        }

        ul {
            list-style: none;
            .jaf {
                padding: 0px 10px;
                li {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    p {
                        font-size: 10px;
                    }
                }
            }

            li {
                margin: 10px 0px;
                display: flex;
                padding: 10px;
                justify-content: space-between;
                border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
                a {
                    text-decoration: none;
                    color: #000;
                    font-weight: 500;
                    width: 100%;
                }
                #next {
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 20px;
                    width: fit-content;
                    padding: 5px 10px;
                    font-size: 8px;
                }
            }
        }

        .modemodean {
            margin-left: 10px;
            margin-top: 20px;
            font-size: 1.8em;
            display: flex;
            align-items: center;
            gap: 10px;
            p {
                font-size: 0.5em;
                font-weight: 500;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    nav {
        padding: 20px 20vw;
        .navbar-right {
            ul {
                display: flex;
                align-items: center;
                gap: 5px;
                list-style: none;
                li {
                    padding: 5px 20px;
                    border-radius: 20px;
                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}
