.container-home-credit {
    display: flex;
    padding: 10vh 20vw;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    .ig {
        margin: 5px 0px;
        margin-top: 10px;
        display: flex;
        gap: 5px;
        align-items: center;
        a {
            text-decoration: none;
        }
    }

    .git {
        display: flex;
        gap: 5px;
        align-items: center;
        a {
            text-decoration: none;
        }
    }
    .copyright {
        margin: 20px 0px;
        .mas {
            margin: 10px 0px;
            display: flex;
            align-items: center;
            gap: 5px;
            a {
                text-decoration: none;
            }
        }
    }

    .propow-down {
        .masx {
            margin: 10px 0px;
            display: flex;
            align-items: center;
            gap: 5px;
            a {
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-device-width: 480px) and (max-device-width: 1024px) {
    .container-home-credit {
        padding: 5vh 20px;
    }
    .ig {
        margin: 5px 0px;
        margin-top: 10px;
        display: flex;
        gap: 5px;
        align-items: center;
        a {
            text-decoration: none;
            font-size: 12px;
        }
    }

    .git {
        display: flex;
        gap: 5px;
        align-items: center;
        a {
            text-decoration: none;
            font-size: 12px;
        }
    }
    .copyright {
        margin: 20px 0px;
        .mas {
            margin: 10px 0px;
            display: flex;
            align-items: center;
            gap: 5px;
            a {
                text-decoration: none;
                font-size: 12px;
            }
        }
    }

    .propow-down {
        .masx {
            margin: 10px 0px;
            display: flex;
            align-items: center;
            gap: 5px;
            a {
                text-decoration: none;
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .container-home-credit {
        padding: 5vh 20px;
    }
    .ig {
        margin: 5px 0px;
        margin-top: 10px;
        display: flex;
        gap: 5px;
        align-items: center;
        a {
            text-decoration: none;
            font-size: 12px;
        }
    }

    .git {
        display: flex;
        gap: 5px;
        align-items: center;
        a {
            text-decoration: none;
            font-size: 12px;
        }
    }
    .copyright {
        margin: 20px 0px;
        .mas {
            margin: 10px 0px;
            display: flex;
            align-items: center;
            gap: 5px;
            a {
                text-decoration: none;
                font-size: 12px;
            }
        }
    }

    .propow-down {
        .masx {
            margin: 10px 0px;
            display: flex;
            align-items: center;
            gap: 5px;
            a {
                text-decoration: none;
                font-size: 12px;
            }
        }
    }
}
